{# a macro that removes all newline characters, empty spaces, and returns formatted text #}

{%- macro cleanup(data) -%}
    {%- for item in data.split("\n")  if item | trim != "" -%}
    {{ item | trim }} {% endfor -%}
{%- endmacro -%}
