{% macro weatherReportHolly() %}

{% set condition = '' %}
{% if is_state('sensor.condition_today','partlycloudy') %}
{% set condition = 'partly cloudy' %}
{% else %}
{% set condition = states('sensor.condition_today') %}
{% endif %}

    Today the weather will be {{ condition }}
    with  a high of {{ states('sensor.temp_today', 'state') }} 
    and a low of {{ states('sensor.templow_today', 'state') }} degrees.
    Right now it is {{ states('weather.home','state') }}
    and will be {{ states('input_text.weather_condition_work') }} 
    when you get out of work.
    
{% endmacro %}