{% macro weatherReport() %}

Today the weather will be {{
states('weather.home', 'state') }} with  a high of {{
states('sensor.hightemp', 'state') }} and a low of 
{{ states('sensor.lowtemp', 'state') }} degrees. 

{% endmacro %}
